<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>heroku-java</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- styles vendors start -->
  <link rel="stylesheet" href="https://npmcdn.com/bootstrap@3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://npmcdn.com/font-awesome@4/css/font-awesome.min.css">
  <!-- styles vendors end -->

</head>
<body class="container-fluid">

<!-- scripts vendors start -->
<script src="https://npmcdn.com/react@15/dist/react.min.js"></script>
<script src="https://npmcdn.com/react-dom@15/dist/react-dom.min.js"></script>
<script src="https://npmcdn.com/babel-core@5/browser.min.js"></script>
<script src="https://npmcdn.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
<!-- scripts vendors end -->
