<!-- Spring MVC Mustache start -->
<div>context: <code>{{springMacroRequestContext.request.contextPath}}/</code></div>
<!-- Spring MVC Mustache end -->

<footer class="text-center footer navbar navbar-fixed-bottom row-fluid">
  <div class="navbar-inner">
    <div class="container">
      <a class="text-muted btn-social-icon" href="#">
        2016 &copy; Maksim Kostromin <i class="fa fa-github"></i></a>
    </div>
  </div>
</footer>

</body>
</html>
