<!-- ReactApp start -->
<div id="openshift-gradle-spring-boot" class="container-fluid"></div>

<script type="text/babel">

  const ReactApp = () => (
      <div className="container">
        <p>hi!</p>
      </div>
  );

  ReactDOM.render(<ReactApp/>, document.getElementById('openshift-gradle-spring-boot'));

</script>
<!-- ReactApp end -->
